/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "primeicons/primeicons.css";

/* Custom global styles */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096;
}